@import url('https://fonts.cdnfonts.com/css/minecraftia');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Minecraftia', sans-serif;
  color: #fff;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

/* ==== IMAGEM DE FUNDO ==== */
.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* ============================================================
   BONECO DO MINECRAFT À ESQUERDA
   ============================================================ */
.boneco {
  position: absolute;
  bottom: 120px;
  left: 50px;
  width: 180px;
  z-index: 3;
  image-rendering: pixelated;
}

/* ============================================================
   PLACA PENDURADA NO TOPO
   ============================================================ */
.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.placa-container {
  position: absolute;
  top: 0px; /* placa bem no topo */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

/* CORRENTE DA PLACA */
.corrente {
  width: 12px;
  height: 50px;
  background-color: #7a7a7a;
  margin-bottom: -5px;
}

/* IMAGEM DA PLACA */
.placa-img {
  width: 100%;
  display: block;
}

/* TEXTO DENTRO DA PLACA */
.texto-placa {
  position: absolute;
  top: 20%; 
  left: 10%;
  right: 10%;
  color: #000;
  font-family: 'Minecraftia', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
  text-shadow: 1px 1px 2px #fff;
}

/* ============================================================
   BOTÕES DE NAVEGAÇÃO
   ============================================================ */
.nav-btn {
  position: absolute;
  bottom: 30px;
  background-color: #7a7a7a;
  border: 3px solid #3a3a3a;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Minecraftia', sans-serif;
  text-decoration: none;
  box-shadow: 3px 3px 0 #000;
  transition: 0.2s;
  z-index: 10; /* garante que fique acima de tudo */
}

.nav-btn:hover {
  background-color: #5e5e5e;
}

/* Botão Voltar */
.return-btn {
  left: 50px;
}

/* Botão Próximo */
.next-btn {
  right: 50px;
}
